<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation
        class="dark bg-gray-900 print:hidden"
        [mode]="'over'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="false">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center h-20 pt-6 px-8">
                <img
                    class="w-24"
                    src="assets/images/logo/hh.png"
                    alt="Logo image">

            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-gray-700 dark:bg-transparent print:hidden">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center mx-2 lg:mr-8">
                <div class="hidden lg:flex">
                    <img
                        class="dark:hidden w-20"
                        src="assets/images/logo/hh.png">
                    <img
                        class="hidden dark:flex w-20"
                        src="assets/images/logo/hh.png">
                </div>
                <img
                    class="flex lg:hidden w-8"
                    src="assets/images/logo/pnrs.png">
            </div>
            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation style="color:white"
                class="mr-2 text-white"               
                [name]="'mainNavigation'"
                [navigation]="navigation.horizontal"></fuse-horizontal-navigation>
        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <button
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
                <mat-icon style="color:white" [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2 ">
            <!-- <languages></languages> -->
            <!-- <fuse-fullscreen class="hidden md:block "></fuse-fullscreen> -->
            <!-- <search [appearance]="'bar'"></search> -->
            <!-- <shortcuts></shortcuts> -->
            <!-- <messages></messages> -->
            <!--กระดิ่แจ้งเตือน-->
            <!-- <notifications></notifications> -->
<!--             <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-alt-2'"></mat-icon>
            </button> -->
            <!--button add config-->
            <button mat-button [matMenuTriggerFor]="aboveconfig"><mat-icon style="color:white" svgIcon="menu_book"></mat-icon></button>
            <mat-menu #aboveconfig="matMenu" yPosition="above">
                <button  mat-menu-item (click)="getProfile()">เพิ่มผู้ใช้งาน</button>
                <button mat-menu-item (click)="getProfile()">เพิ่มกลุ่มงาน/ฝ่าย/แผนก</button>
            </mat-menu>
            <!--button Setting-->
            <button mat-button [matMenuTriggerFor]="abovesetting"><mat-icon style="color:white" svgIcon="mat_outline:settings"></mat-icon></button>
            <mat-menu #abovesetting="matMenu" yPosition="above">
                <button mat-menu-item (click)="getProfile()">Profile</button>
            </mat-menu>

            <!-- <user></user> -->
            <div class="text-white"><p >{{fullname}}</p></div>
            <button mat-icon-button (click)="logout()"><mat-icon style="color:white" svgIcon="mat_outline:logout"></mat-icon></button>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center w-full h-14 sm:h-15 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary"> Hicm Dashboard Version 1.4 &copy; {{currentYear}} Develop by Ubon Developer Team</span>
    </div>

</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
