<div class="flex m-2 flex-auto bg-white border-2 rounded-t-lg">
  <!-- ส่วนชื่อรายงาน -->
  <div class="grid mr-0 ml-0 mt-0 mb-4 p-3 bg-teal-600 text-white rounded-t-lg">
    <h2 class="text-lg align-middle">
      รายงานอัตรากำลังแยกตามประเภทผู้ป่วย
  </h2>
  </div>
  
  <div class="flex-items-1 bg-white ">
    <div class="m-4">
      <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
        <mat-label>วันที่เริ่มต้น</mat-label>
        <input matInput [matDatepicker]="picker1" id="datestart" name="datestart" [(ngModel)]="datestart">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
        <mat-label>วันที่สิ้นสุด</mat-label>
        <input matInput [matDatepicker]="picker2" id="dateend" name = "dateend" [(ngModel)]="dateend">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>&nbsp;
      <button mat-raised-button color="primary" class="hover:bg-indigo-800" text-2xl rounded-md
          matTooltip="ค้นหา" (click)="getInfoClick()">
          <mat-icon class="text-white">search</mat-icon> ค้นหา
      </button>&nbsp;
      <button mat-raised-button class="bg-green-600 hover:bg-green-800 text-white" text-2xl rounded-md
          matTooltip="Export Excel" (click)="exportAsXLSX()">
          <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>Excel
      </button>
    </div>
  </div>
  
  <!-- ส่วนที่2 ตารางข้อมูล -->
  <div class="flex-items-2 bg-white border-2">
    <div class="mat-elevation-z8" class="bordered-table xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden mx-auto">
      <table mat-table [dataSource]="items">
        <!-- NAME Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">หอผู้ป่วย</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- ICU Column -->
        <ng-container matColumnDef="t_icu">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">ICU</th>
          <td mat-cell *matCellDef="let element"> {{element.t_icu}} </td>
        </ng-container>

        <!-- CI Column -->
        <ng-container matColumnDef="t_ci">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">CI</th>
          <td mat-cell *matCellDef="let element"> {{element.t_ci}} </td>
        </ng-container>

        <!-- MI Column -->
        <ng-container matColumnDef="t_mi">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">MI</th>
          <td mat-cell *matCellDef="let element"> {{element.t_mi}} </td>
        </ng-container>

        <!-- CL Column -->
        <ng-container matColumnDef="t_cl">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">CL</th>
          <td mat-cell *matCellDef="let element"> {{element.cl}} </td>
        </ng-container>

         <!-- SI Column -->
        <ng-container matColumnDef="t_si">
          <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">SI</th>
          <td mat-cell *matCellDef="let element"> {{element.t_si}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


      <mat-paginator [pageSizeOptions]="[20,50,100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  
</div>
  
  
  
  