body,
html {
  height: 100%;
}

// .bg {
//   /* The image used */
//   /*background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(27).webp");
//   /* Full height */
//   height: 100%;
//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
