<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                Export 16 File
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่เริ่มต้น</mat-label>
                <input matInput [matDatepicker]="picker1" id="startdate" name="startdate" [(ngModel)]="startdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่สิ้นสุด</mat-label>
                <input matInput [matDatepicker]="picker2" id="enddate" name="enddate" [(ngModel)]="enddate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <span class="ml-2 mr-2 mb-5">กองทุน</span>
            <mat-form-field class="d-flex flex-column w-1/4 mr-2">
                <mat-select [(ngModel)]="selecteditem_lfund" (selectionChange)="onOptionsSelected()">
                    <mat-option *ngFor="let item of itemlfund" [value]="item.fund_name">
                        {{item.fund_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox class="example-margin mb-4" [(ngModel)]="isCheckbox"
            (change)="logCheckbox()">แสดงทุกกองทุน</mat-checkbox>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 shadow-xl"
                (click)="getExport()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
        </div>
       
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <!-- Start Tab -->
            <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม INS ({{countRowsins}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXins()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemins">
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- INSCL -->
                                    <ng-container matColumnDef="INSCL">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">INSCL</th>
                                        <td mat-cell *matCellDef="let element"> {{element.INSCL}} </td>
                                    </ng-container>
                                    <!-- SUBTYPE -->
                                    <ng-container matColumnDef="SUBTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">SUBTYPE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SUBTYPE}} </td>
                                    </ng-container>
                                    <!-- CID -->
                                    <ng-container matColumnDef="CID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CID</th>
                                        <td mat-cell *matCellDef="let element"> {{element.CID}} </td>
                                    </ng-container>

                                    <!-- HCODE -->
                                    <ng-container matColumnDef="HCODE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HCODE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.HCODE}} </td>
                                    </ng-container>
                                    <!-- DATEEXP -->
                                    <ng-container matColumnDef="DATEEXP">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            DATEEXP
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DATEEXP}} </td>
                                    </ng-container>
                                    <!-- HOSPMAIN| Column -->
                                    <ng-container matColumnDef="HOSPMAIN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            HOSPMAIN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HOSPMAIN}}
                                        </td>
                                    </ng-container>

                                    <!-- HOSPSUB Column -->
                                    <ng-container matColumnDef="HOSPSUB">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HOSPSUB
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.HOSPSUB}}
                                        </td>
                                    </ng-container>

                                    <!-- GOVCODE Column -->
                                    <ng-container matColumnDef="GOVCODE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">GOVCODE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.GOVCODE}}
                                        </td>
                                    </ng-container>

                                    <!-- GOVNAME Column -->
                                    <ng-container matColumnDef="GOVNAME">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">GOVNAME
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.GOVNAME}}
                                        </td>
                                    </ng-container>

                                    <!-- PERMITNO Column -->
                                    <ng-container matColumnDef="PERMITNO">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">PERMITNO
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PERMITNO}} </td>
                                    </ng-container>
                                    <!-- DOCNO Column -->
                                    <ng-container matColumnDef="DOCNO">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DOCNO
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DOCNO}} </td>
                                    </ng-container>
                                    <!-- OWNRPID Column -->
                                    <ng-container matColumnDef="OWNRPID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            OWNRPID
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.OWNRPID}} </td>
                                    </ng-container>
                                    <!-- OWNNAME Column -->
                                    <ng-container matColumnDef="OWNNAME">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            OWNNAME
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.OWNNAME}} </td>
                                    </ng-container>
                                    <!-- AN Column -->
                                    <ng-container matColumnDef="AN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            AN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.AN}} </td>
                                    </ng-container>
                                    <!-- SEQ Column -->
                                    <ng-container matColumnDef="SEQ">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SEQ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEQ}} </td>
                                    </ng-container>
                                    <!-- SUBINSCL Column -->
                                    <ng-container matColumnDef="SUBINSCL">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SUBINSCL</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SUBINSCL}} </td>
                                    </ng-container>
                                    <!-- RELINSCL Column -->
                                    <ng-container matColumnDef="RELINSCL">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            RELINSCL</th>
                                        <td mat-cell *matCellDef="let element"> {{element.RELINSCL}} </td>
                                    </ng-container>
                                    <!-- HTYPE Column -->
                                    <ng-container matColumnDef="HTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            HTYPE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HTYPE}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="insdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: insdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #pins [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม PAT ({{countRowsins}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXpat()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itempat">
                                    <!-- HCODE -->
                                    <ng-container matColumnDef="HCODE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HCODE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HCODE}} </td>
                                    </ng-container>
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- CHANGWAT -->
                                    <ng-container matColumnDef="CHANGWAT">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CHANGWAT
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.CHANGWAT}} </td>
                                    </ng-container>
                                    <!-- AMPHUR -->
                                    <ng-container matColumnDef="AMPHUR">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AMPHUR</th>
                                        <td mat-cell *matCellDef="let element"> {{element.AMPHUR}} </td>
                                    </ng-container>

                                    <!-- DOB -->
                                    <ng-container matColumnDef="DOB">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DOB
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
                                    </ng-container>
                                    <!-- SEX -->
                                    <ng-container matColumnDef="SEX">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SEX
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEX}} </td>
                                    </ng-container>
                                    <!-- MARRIAGE Column -->
                                    <ng-container matColumnDef="MARRIAGE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            MARRIAGE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.MARRIAGE}}
                                        </td>
                                    </ng-container>

                                    <!-- OCCUPA Column -->
                                    <ng-container matColumnDef="OCCUPA">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">OCCUPA
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.OCCUPA}}
                                        </td>
                                    </ng-container>

                                    <!-- NATION Column -->
                                    <ng-container matColumnDef="NATION">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">NATION
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.NATION}}
                                        </td>
                                    </ng-container>

                                    <!-- PERSON_ID Column -->
                                    <ng-container matColumnDef="PERSON_ID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">PERSON_ID
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PERSON_ID}}
                                        </td>
                                    </ng-container>

                                    <!-- NAMEPAT Column -->
                                    <ng-container matColumnDef="NAMEPAT">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">NAMEPAT
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.NAMEPAT}} </td>
                                    </ng-container>
                                    <!-- TITLE Column -->
                                    <ng-container matColumnDef="TITLE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">TITLE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.TITLE}} </td>
                                    </ng-container>
                                    <!-- FNAME Column -->
                                    <ng-container matColumnDef="FNAME">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            FNAME
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.FNAME}} </td>
                                    </ng-container>
                                    <!-- LNAME Column -->
                                    <ng-container matColumnDef="LNAME">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            LNAME
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.LNAME}} </td>
                                    </ng-container>
                                    <!-- IDTYPE Column -->
                                    <ng-container matColumnDef="IDTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            IDTYPE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.IDTYPE}} </td>
                                    </ng-container>
                                

                                    <tr mat-header-row *matHeaderRowDef="patdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: patdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #ppat [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม OPD ({{countRowsopd}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXopd()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemopd">
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- CLINIC -->
                                    <ng-container matColumnDef="CLINIC">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CLINIC</th>
                                        <td mat-cell *matCellDef="let element"> {{element.CLINIC}} </td>
                                    </ng-container>
                                    <!-- DATEOPD -->
                                    <ng-container matColumnDef="DATEOPD">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DATEOPD
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DATEOPD}} </td>
                                    </ng-container>
                                    <!-- TIMEOPD -->
                                    <ng-container matColumnDef="TIMEOPD">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">TIMEOPD</th>
                                        <td mat-cell *matCellDef="let element"> {{element.TIMEOPD}} </td>
                                    </ng-container>

                                    <!-- SEQ -->
                                    <ng-container matColumnDef="SEQ">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">SEQ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEQ}} </td>
                                    </ng-container>
                                    <!-- UUC -->
                                    <ng-container matColumnDef="UUC">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            UUC
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.UUC}} </td>
                                    </ng-container>
                                    <!-- DETAIL Column -->
                                    <ng-container matColumnDef="DETAIL">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            DETAIL</th>
                                        <td mat-cell *matCellDef="let element"> {{element.DETAIL}}
                                        </td>
                                    </ng-container>

                                    <!-- BTEMP Column -->
                                    <ng-container matColumnDef="BTEMP">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">BTEMP
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.BTEMP}}
                                        </td>
                                    </ng-container>

                                    <!-- SBP Column -->
                                    <ng-container matColumnDef="SBP">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">SBP
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SBP}}
                                        </td>
                                    </ng-container>

                                    <!-- DBP Column -->
                                    <ng-container matColumnDef="DBP">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DBP
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DBP}}
                                        </td>
                                    </ng-container>

                                    <!-- PR Column -->
                                    <ng-container matColumnDef="PR">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">PR
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PR}} </td>
                                    </ng-container>
                                    <!-- RR Column -->
                                    <ng-container matColumnDef="RR">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">RR
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.RR}} </td>
                                    </ng-container>
                                    <!-- OPTYPE Column -->
                                    <ng-container matColumnDef="OPTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            OPTYPE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.OPTYPE}} </td>
                                    </ng-container>
                                    <!-- TYPEIN Column -->
                                    <ng-container matColumnDef="TYPEIN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            TYPEIN
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.TYPEIN}} </td>
                                    </ng-container>
                                    <!-- TYPEOUT Column -->
                                    <ng-container matColumnDef="TYPEOUT">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            TYPEOUT</th>
                                        <td mat-cell *matCellDef="let element"> {{element.TYPEOUT}} </td>
                                    </ng-container>
                                

                                    <tr mat-header-row *matHeaderRowDef="opddisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: opddisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #popd [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab> 
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม ORF ({{countRowsorf}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXorf()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemorf">
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- DATEOPD -->
                                    <ng-container matColumnDef="DATEOPD">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DATEOPD</th>
                                        <td mat-cell *matCellDef="let element"> {{element.DATEOPD}} </td>
                                    </ng-container>
                                    <!-- CLINIC -->
                                    <ng-container matColumnDef="CLINIC">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CLINIC
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.CLINIC}} </td>
                                    </ng-container>
                                    <!-- REFER -->
                                    <ng-container matColumnDef="REFER">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">REFER</th>
                                        <td mat-cell *matCellDef="let element"> {{element.REFER}} </td>
                                    </ng-container>

                                    <!-- REFERTYPE -->
                                    <ng-container matColumnDef="REFERTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">REFERTYPE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.REFERTYPE}} </td>
                                    </ng-container>
                                    <!-- SEQ -->
                                    <ng-container matColumnDef="SEQ">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SEQ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEQ}} </td>
                                    </ng-container>
                                    <!-- REFERDATE Column -->
                                    <ng-container matColumnDef="REFERDATE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            REFERDATE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.REFERDATE}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="orfdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: orfdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #porf [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab> 
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม ODX ({{countRowsodx}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXodx()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemodx">
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- DATEDX -->
                                    <ng-container matColumnDef="DATEDX">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DATEDX</th>
                                        <td mat-cell *matCellDef="let element"> {{element.DATEDX}} </td>
                                    </ng-container>
                                    <!-- CLINIC -->
                                    <ng-container matColumnDef="CLINIC">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CLINIC
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.CLINIC}} </td>
                                    </ng-container>
                                    <!-- DIAG -->
                                    <ng-container matColumnDef="DIAG">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DIAG</th>
                                        <td mat-cell *matCellDef="let element"> {{element.DIAG}} </td>
                                    </ng-container>

                                    <!-- DXTYPE -->
                                    <ng-container matColumnDef="DXTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DXTYPE
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DXTYPE}} </td>
                                    </ng-container>
                                    <!-- DRDX -->
                                    <ng-container matColumnDef="DRDX">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            DRDX
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DRDX}} </td>
                                    </ng-container>
                                    <!-- PERSON_ID Column -->
                                    <ng-container matColumnDef="PERSON_ID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            PERSON_ID</th>
                                        <td mat-cell *matCellDef="let element"> {{element.PERSON_ID}}
                                        </td>
                                    </ng-container>
                                    <!-- SEQ Column -->
                                    <ng-container matColumnDef="SEQ">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SEQ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEQ}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="odxdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: odxdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #podx [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab> 
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        แฟ้ม OOP ({{countRowsoop}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXoop()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemoop">
                                    <!-- HN -->
                                    <ng-container matColumnDef="HN">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.HN}} </td>
                                    </ng-container>
                                    <!-- DATEOPD -->
                                    <ng-container matColumnDef="DATEOPD">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DATEOPD</th>
                                        <td mat-cell *matCellDef="let element"> {{element.DATEOPD}} </td>
                                    </ng-container>
                                    <!-- CLINIC -->
                                    <ng-container matColumnDef="CLINIC">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">CLINIC
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.CLINIC}} </td>
                                    </ng-container>
                                    <!-- OPER -->
                                    <ng-container matColumnDef="OPER">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">OPER</th>
                                        <td mat-cell *matCellDef="let element"> {{element.OPER}} </td>
                                    </ng-container>

                                    <!-- DROPID -->
                                    <ng-container matColumnDef="DROPID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">DROPID
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DROPID}} </td>
                                    </ng-container>
                                    <!-- PERSON_ID -->
                                    <ng-container matColumnDef="PERSON_ID">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            PERSON_ID
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PERSON_ID}} </td>
                                    </ng-container>
                                    <!-- SEQ Column -->
                                    <ng-container matColumnDef="SEQ">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SEQ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SEQ}}
                                        </td>
                                    </ng-container>
                                    <!-- SERVPRICE Column -->
                                    <ng-container matColumnDef="SERVPRICE">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            SERVPRICE</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SERVPRICE}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="oopdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: oopdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #poop [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab> 
            </mat-tab-group>
            <!-- end Tab -->

        </div>
    </div>  
</body>

</html>