<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start">
            <span class="text-3xl text-black align-middle">
                Statement เบิกค่ารักษาพยาบาลผู้ป่วยใน สิทธิ์ กทม.
            </span>
        </div>
        <div class="h-10 flex items-center justify-content-center mb-2">
            <label class="font-bold mr-2">ค้นหาด้วย เลขที่เอกสาร</label>
            <input class="flex bg-white h-10 rounded-lg mr-2 px-2 shadow-xl" matInput placeholder="เลขที่เอกสาร" id="repno"
                name="repno" [(ngModel)]="repno">
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-10 mr-1 shadow-xl"
                matTooltip="Export Excel" (click)="getStmipBkk()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                matTooltip="Export Excel" (click)="exportAsXLSXStmipBkk()">
                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                <span>Excel</span>
            </button>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- จำนวน -->
                <div class="flex flex-col flex-auto p-6 bg-teal-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">จำนวน</div>
                        <i class="pi pi-user text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{all_case | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">รายการ</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- ลูกหนี้ทั้งหมด -->
                <div class=" flex flex-col flex-auto p-6 bg-green-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ลูกหนี้ทั้งหมด</div>
                        <i class="pi pi-chart-line text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{debt | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ได้รับชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-gray-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ได้รับชดเชย</div>
                        <i class="pi pi-dollar text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">{{receive |
                            number }}</div>
                        <div class="text-lg font-medium text-white">บาท</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่าง ค่ารักษา -->
                <div class="flex flex-col flex-auto p-6 bg-amber-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ส่วนต่างค่ารักษา
                        </div>
                        <i class="pi pi-bitcoin text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{sum_diff | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่างค่ารักษาที่ต่ำกว่าชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-red-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">
                            ส่วนต่างค่ารักษาที่ต่ำกว่าชดเชย</div>
                            <i class="pi pi-sort-numeric-down text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{diffloss | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่างค่ารักษาที่สุงกว่าชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-indigo-400 shadow-md rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">
                            ส่วนต่างค่ารักษาที่สุงกว่าชดเชย</div>
                            <i class="pi pi-sort-numeric-up text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{diffgain | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 mat-elevation-z8">
            <table mat-table [dataSource]="itemstmipbkk" class="table-auto">
             <!-- stm_no -->
             <ng-container matColumnDef="stm_no">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลขที่เอกสาร</th>
                <td mat-cell *matCellDef="let element"> {{element.stm_no}} </td>
            </ng-container>                
              <!-- repon -->
              <ng-container matColumnDef="repno">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หมายเลขตอบรับ</th>
                <td mat-cell *matCellDef="let element"> {{element.repno}} </td>
            </ng-container>
            <!-- no -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ลำดับที่</th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>
            <!-- hn -->
            <ng-container matColumnDef="hn">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
            </ng-container>
            <!-- an -->
            <ng-container matColumnDef="an">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                <td mat-cell *matCellDef="let element"> {{element.an}} </td>
            </ng-container>

            <!-- pid -->
            <ng-container matColumnDef="cid">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">cid</th>
                <td mat-cell *matCellDef="let element"> {{element.cid}} </td>
            </ng-container>
            <!-- fullname -->
            <ng-container matColumnDef="fullname">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-สกุล</th>
                <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>
            <!-- date_serv -->
            <ng-container matColumnDef="date_serv">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่รับบริการ</th>
                <td mat-cell *matCellDef="let element"> {{element.date_serv | date:"YYYY-MM-dd"}} </td>
            </ng-container>
            <!-- date_dch -->
            <ng-container matColumnDef="date_dch">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่สิ้นสุดการรับบริการ</th>
                <td mat-cell *matCellDef="let element"> {{element.date_dch | date:"YYYY-MM-dd"}} </td>
            </ng-container>
            <!-- projcode -->
            <ng-container matColumnDef="projcode">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">projcode</th>
                <td mat-cell *matCellDef="let element"> {{element.projcode}} </td>
            </ng-container>

            <!-- adjrw -->
            <ng-container matColumnDef="adjrw">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">adjrw</th>
                <td mat-cell *matCellDef="let element"> {{element.adjrw | number : '1.2-2'}} </td>
            </ng-container>

            <!-- charge -->
            <ng-container matColumnDef="charge">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เรียกเก็บ</th>
                <td mat-cell *matCellDef="let element"> {{element.charge | number : '1.2-2'}} </td>
            </ng-container>

            <!-- insure -->
            <ng-container matColumnDef="insure">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">พรบ</th>
                <td mat-cell *matCellDef="let element"> {{element.insure | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_room -->
            <ng-container matColumnDef="in_room">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่าห้อง</th>
                <td mat-cell *matCellDef="let element"> {{element.in_room | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_prcd -->
            <ng-container matColumnDef="in_prcd">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่าอวัยวะ</th>
                <td mat-cell *matCellDef="let element"> {{element.in_inst | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_meditem -->
            <ng-container matColumnDef="in_meditem">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่ายา</th>
                <td mat-cell *matCellDef="let element"> {{element.in_meditem | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_dx -->
            <ng-container matColumnDef="in_dx">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่ารักษา</th>
                <td mat-cell *matCellDef="let element"> {{element.in_drg | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_carfare -->
            <ng-container matColumnDef="in_carfare">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่ารถ</th>
                <td mat-cell *matCellDef="let element"> {{element.in_carfare | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_case -->
            <ng-container matColumnDef="in_case">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">กรณีรอพักรอจำหน่าย</th>
                <td mat-cell *matCellDef="let element"> {{element.in_case | number : '1.2-2'}} </td>
            </ng-container>

            <!-- in_etc -->
            <ng-container matColumnDef="in_etc">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค่าบริการอื่น</th>
                <td mat-cell *matCellDef="let element"> {{element.in_etc | number : '1.2-2'}} </td>
            </ng-container>

            <!-- total_summary -->
            <ng-container matColumnDef="total_summary">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เครมได้</th>
                <td mat-cell *matCellDef="let element"> {{element.total_summary | number : '1.2-2'}} </td>
            </ng-container>
            <!-- diff -->
            <ng-container matColumnDef="diff">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ส่วนต่าง</th>
                <td mat-cell *matCellDef="let element"> {{element.diff | number : '1.2-2'}} </td>
            </ng-container>
                <tr mat-header-row *matHeaderRowDef="stmipbkkdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: stmipbkkdisplayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>

        </div>
    </div>

</body>

</html>